*{
    margin: 0;
    padding: 0;
}
.cabeçalho{
    background-color:rgb(0, 26, 255);
color: rgb(24, 21, 21);
display: flex ;
justify-content: space-around; 
align-items: center;
padding: 24px;
} 
  .cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
  }
 .cabeçalho-imagem{
    width: 15%;
 }
.escola-imagem {
  width: 25%;
}
.Escola{
  background-image: linear-gradient(#42461,#16CFF8);
  color
  displa
}

display:flex
justify-content:center;
align-items:center;
padding: 24px 0;
}
